$primary-color-dark: #26544F;
$primary-color: #469B91;
$primary-color-light: #ABD9D4;
$primary-white: #FAFAFF;

$secondary-color-light: #E4D9FF;
$secondary-color: #7B47FF;
$secondary-color-dark: #28008F;

$light-gray: #CAC9C9;
$medium-gray: #909090;
$black: #1E1E1E;

$button-primary: #007E8F;
$button-primary-hover: #1FE5FF;
$button-secondary: #38943E;
$button-secondary-hover: #97D89C;

$alert-high: #D71709;
$alert-high-light: #FBA39D;
$alert-border: #750D06;
$alert-medium: #FFF599;
$alert-medium-border: #E0CA00;
$alert-medium-light: #FAE09E;

$left-menu-width: 25px;
$left-menu-margin: 40px;
$left-menu-background: #1E1E1E;