@import "../../../Variables";

.multi-select {
  display: inline-block;
  position: relative;
  > .tags {

  }
  > .select-drop {
    display: none;
    &.show {
      border: 1px solid black;
      border-bottom-right-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      padding: 0.2em 0.5em;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: -4px;
      max-height: 10em;
      background-color: white;
      z-index: 100;
      overflow: auto;
      > .option {
        display: block;
        display: block;
        cursor: pointer;
        padding: .1em .25em;
        &:hover {
          background-color: $light-gray;
        }
        > input {
          display: inline;
          margin-right: 0.25em;
        }
      }
    }    
  }
}